<mat-toolbar color="primary">
  <span><a routerLink="/">MyMessages</a></span>
  <ul>
    <li>
      <a class="header-button" mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li>
      <a class="header-button" mat-button routerLink="/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li>
      <a class="header-button" mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
  </ul>
</mat-toolbar>
