<mat-card>
  @if (false) {
    <mat-spinner></mat-spinner>
  }
  <form>
    <mat-form-field>
      <input matInput type="email" placeholder="E-mail" />
      <mat-error>Please enter a valid e-mail.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" />
      <mat-error>Please enter a valid password.</mat-error>
    </mat-form-field>
    <div class="buttonDiv">
      <button matButton="filled" type="submit">Login</button>
    </div>
  </form>
</mat-card>
<!-- <mat-card>
  @if (isLoading) {
    <mat-spinner></mat-spinner>
  } @else {
    <form>
      <mat-form-field>
        @if () {
          <mat-label>Post Title</mat-label>
        }
        <input matInput type="email" placeholder="E-mail"/>
        @if () {
          <mat-error>Please enter a valid e-mail.</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        @if () {
          <mat-label>Post Content</mat-label>
        }
        <input type="password" matInput placeholder="Password">
        @if () {
          <mat-error>Please enter a valid password.</mat-error>
        }
      </mat-form-field>
      <div class="buttonDiv">
        <button matButton="filled" type="submit">Login</button>
      </div>
    </form>
  }
</mat-card> -->***REMOVED***
***REMOVED***