# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
package-lock.json
backend/images/aaa-po-1764963611616.jpeg
backend/images/aaaa-1764962170450.jpeg
backend/images/to-sozinho-vei-so-eu-aqui-vei-na-pag-vei-1764964336162.png
backend/images/vai-arrochando-ai-vai-1764963624305.jpeg
backend/images/segura-elton-ai-po-1764963639333.png
