mat-form-field {
  width: 100%;
  margin-top: 1rem;
}

mat-card {
  padding: 32px;
}

.buttonDiv {
  align-items: left;
  margin-top: 1rem;
  padding: 0;
}

button {
  max-width: fit-content;
  border-radius: 6px;
}

mat-spinner {
  margin: auto;
}
