<mat-card>
  @if (false) {
  <mat-spinner></mat-spinner>
  }
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      @if (emailInput.value != ' ') {
      <mat-label>E-mail</mat-label>
      }
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-mail"
        #emailInput="ngModel"
        required
        email
      />
      @if (emailInput.invalid) {
      <mat-error>Please enter a valid e-mail.</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        name="password"
        ngModel
        matInput
        placeholder="Password"
        #passwordInput="ngModel"
        required
      />
      @if (passwordInput.value != '') {
      <mat-label>Password</mat-label>
      } @if (passwordInput.invalid) {
      <mat-error>Please enter a valid password.</mat-error>
      }
    </mat-form-field>
    @if(!isLoading) {
      <div class="buttonDiv">
        <button matButton="filled" type="submit">Signup</button>
      </div>
    }
  </form>
</mat-card>
@if(true) {
  <div></div>
}
