mat-form-field,
textarea {
  width: 100%;
  margin-top: 1rem;
}

mat-card {
  padding: 32px;
}

.buttonDiv {
  align-items: left;
  margin-top: 1rem;
  padding: 0;
}

button {
  max-width: fit-content;
  border-radius: 6px;
}

mat-spinner {
  margin: auto;
}

input[type='file'] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
