:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

.delete-button {
  color: rgb(184, 1, 1) !important;
}

.delete-button:hover {
  color: white !important;
  background-color: rgb(184, 1, 1);
  border-color: rgb(184, 1, 1);
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}***REMOVED***
***REMOVED***