:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.delete-button {
  color: rgb(184, 1, 1) !important;
}

.delete-button:hover {
  color: white !important;
  background-color: rgb(184, 1, 1);
  border-color: rgb(184, 1, 1);
}***REMOVED***
***REMOVED***